.align-right{
	text-align: right;
}
.jstable{
	margin: 5px;
	padding: 5px;
	border: 2px solid #4A4A4A;
	background-color: #D3D3D3
}
.jsthead{
	background-color: #F7881A;
	color: #1B1B1B;
}
.jstbody{
	background-color: #C1C1C1;
}
.jstd-and-th{
	padding: 5px;
}
.del-btn{
	background-color: #F92468;
}
.action-button{
	cursor: pointer;
}
.input-box{
	display: flex;
	align-items: center;
}
.table-search{
	width: 300px;
	height: 30px;
	font-size: 16px;

	border-radius: 8px;
	outline: none;
	border: none;
	background-color: #E4E4E4;

	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;

	transition: background .05s linear;
}
.table-search:focus{
	background-color: #D5D5D5; 
}
.sort-btn{
	margin-left: 4px;
}
.id{
	font-weight: 700;
}